* {
  margin: 0;
  padding: 0;
  color: #282044;
  
}




/* Header */




header {
  background-color: #ff914d;
  height: 150px;
  position: sticky;
  top: 0; 
  display: flex;
  flex-flow: row wrap;
  text-align: justify;
}

header img {
  width: 15%;
  width: 150px;
  
}


.menu {
  /* height: 100%; */
  display: flex;
  flex-flow: row wrap;
  text-align: right; 
  align-items: center;
  width: 85%;
  
}

.menu div {
  width: 21%;
  font-size: 2em;
  margin: 10px;
  
}







/* Main */


.container-pagina-inicial {
  border: inset    rebeccapurple;

}

.texto-pagina-inicial, .imagem-pagina-inicial {
  width: 50%;
  background-color: #595a59;
  text-align: center;
  align-items: baseline;
}

.container, .container-pagina-inicial {
  position: relative;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  text-align: center; 
  text-align: justify;
  
}

.f4bank-f4couple, .conta-estudante, .conta-jovem-empreendedor {
  width: 32.8%;
  border: inset    rebeccapurple;
  text-align: center;
  margin-top: 20px;
  object-fit: cover;
}

img {
  width: 100%;
}


/* Footer */

footer{
  background-color: #1C1D22;
}

footer .container{
  padding: 20px;
}

footer nav ul li a{
  color: rgb(240, 240, 240);
}

footer nav .redes-sociais{
 
  padding: 0px 0 20px ;
  text-align: center;

}

footer nav .redes-sociais li{
  margin: 15px 28px;
  text-align: center;
  display: inline-block;
}

footer nav .redes-sociais li a img{
  width: 40px;
  transition: .2s;
}

footer nav .redes-sociais li a:hover img{
  transform: scale(1.2) translateY(-10px);
}

footer p{
  font-size: 1.2em;
  color: rgba(236, 236, 236, 0.842);
  

}